<%- include("../partials/header")%>
<div class="container">
	<div class="row">
		<h1 style="text-align:center">Let's Start Writing</h1>
		<div style="width:30%; margin:25px auto;">
			<form action="/blogs" method="POST">
				<div class="form-group">
					<input type="ima" class="form-control" name="formBlogTitle" placeholder="Enter your blog title here...">
				</div>
				<div class="form-group">
					<input type="ima" class="form-control" name="formBlogImage" placeholder="Add image URL for your blog">
				</div>
				<div class="form-group">
					<input type="text" class="form-control text-area" name="formBlogText" placeholder="Type text here...">
				</div>
				
				<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>

<%- include("../partials/footer")%>
