<!DOCTYPE html>
<html>
	<head>
		<title>Lets Dig</title>
		<!-- old version of bootstrap CDN i -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<link rel="stylesheet" href="/stylesheets/main.css">

	</head>
	<body>
		
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/blogs">Blog-O</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto">
      <% if(!currentUser){ %>
        <li><a href="/login">Log In </a></li>
        <li><a href="/register">Sign Up </a></li>
      <% } else { %>
        <li><a href="#">Signed In As <%= currentUser.username %></a></li>
        <li><a href="/logout">Log Out </a></li>

      <% } %>
    </ul>
  </nav>