<%- include("partials/header")%>

<div class="jumbotron">
	<div class="left">
		<h1>
				Blogs here
		</h1>	 
		<h4>	Scroll down our blogs here! Or maybe you can submit one too?</h4>
	</div>
	<div class="right">
		<img class="free-icon" src="https://img.icons8.com/cotton/64/000000/pen-1.png"/>
		<a href="/new">
		<h4>Start Writing Now!</h4></a>
		<a id="hidden" href="https://icons8.com/icon/95151/pen">Pen icon by Icons8</a>
	</div>
</div>
	
<div class="container">
	<div class="row">
		<% Blogs.forEach(function(Blog){ %>
		<div class="col-sm-12 col-md-4">
			<div class="card" style="width: 300px;">
				<div class="card-body">
					<h3 class="card-title "><%= Blog.title %> <span id="writer">Written by SomeUserName</span></h3>
					<img class="img-responsive blog-image" src="<%= Blog.image %>">
					<p class="card-text truncated"><%= Blog.text %></p>
					<a href="blogs/<%=Blog._id%>" class="btn btn-primary">Read More About This</a>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
	
</div>

<%- include("partials/footer")%>
