<%- include("partials/header")%>


<h1>
		Login Form
</h1>

<form action="/login" method="POST">
	<input type="text" placeholder="Username" name="username">
	<input type="password" placeholder="Password" name="password">
	
	<input type="submit" value="Log In!">
	<!--<button>Log In</button>-->
</form>

<%- include("partials/footer")%>
