
<%- include("partials/header")%>


<h1>
	Register Form 
</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="Username here...">
	<input type="password" name="password" placeholder="Password here...">
	<button>
		Submit!
	</button>
</form>

<%- include("partials/footer")%>
