<%- include("partials/header")%>

<div class="container">
	
	<h2><%=Blog.title%></h2>
	<img class="show-blog-image" src="<%=Blog.image%>">
	<h5><%=Blog.text%></h5>

</div>

<%- include("partials/footer")%>
