.jumbotron{
	background-size: cover;
	background-repeat: no-repeat;
	height:300px;
	background-image: url(https://mk0hootsuiteblof6bud.kinstacdn.com/wp-content/uploads/2019/05/mobile-wallpapers-940x470.jpg)
}

#hidden{
	display:none;
}
.left{
	float:left;
}
.right{
	float:right
}

.text-area{
  overflow: scroll;
  resize: none; 
  border: solid 1px #000;
  min-height: 120px;
  max-width: 350px;
}

.jumbotron h1, h4{
	color:white
}

h1 ,h2, h3, h4, h5{
	color:white;
}

.blog-image{
	max-width: 260px;
	max-height:300px;
}

.card{
	margin: 10px auto;
}

.card-text, .card-title{
	text-align: center;
}

body{
	background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5v5R7BUkttSljXhwh6L7xZgrO-zbsfE5FJQ&usqp=CAU);
    background-size: cover;
 	background-repeat: no-repeat;
}

.show-blog-image{
	max-width:400px;
	max-height:400px;

}

.container h5, .container h2{
	margin-top:30px;
}

.card h3{
	color:black;
	text-transform:capitalize;
}

.truncated{
	text-overflow: ellipsis;
	max-height:300px;
	overflow:hidden;
}

.navbar-right{
	float:right;
}

ul.navbar-nav li{
	margin-right:1rem;
}
ul.navbar-nav li a{
	color:white;
}

#writer{
	font-size:1rem;
	font-style: italic
;}